<%- include('includes/head') %>
    <%- include('includes/nav') %>


    <div>
        <h6> Seu email foi enviado!</h6>
        <h2> Muito obrigado pelo contato! Responderemos suas dúvidas o mais breve possível!</h2>
    </div>



    <%- include('includes/footer') %>