<%- include('includes/head') %>
<%- include('includes/nav') %>
<%- include('includes/botaoVoltar') %>

    <div class="container">
        <div class="row">
        <div class="col-lg-6">
            <h1 class="text-left">Sumário de Instruções</h1>
        </div>
    
        <div class="col-lg-8 my-3">
        </div>
    </div>

<%- include('includes/footer') %>