body {
    font-family: 'Nunito', sans-serif;
    box-sizing: border-box;
}

.formulario-cadastro {
    background: white;
    width: 900px;
    height: 600px;
    margin: 0 auto;
    box-sizing: border-box;
    margin-top: 50px;
}

.formulario-cadastro label {
    display: inline-block;
    font-size: 24px;
    margin-bottom: 5px;
}

.formulario-cadastro input {
    background: white;
    padding: 8px;
    margin-bottom: 30px;
    border-radius: 6px;
    font-size: 24px;
    box-sizing: border-box;
    justify-items: end;
    display: block;
    height: 45 px;
}

.formulario-cadastro button {
    font-size: 20px;
    position: relative;
    float: right;
    background: #428383;
    color: white;
    font-family: 'Nunito', sans-serif;
    border-radius: 8px;
    box-sizing: border-box;
    height: 40px;
    width: 189px;
    border: 1px solid #428383;
}

.formulario-cadastro button:hover {
    background: rgb(9, 48, 56);
}

input:focus {
    outline: 1px solid rgb(9, 48, 56);
}

#input-nomeEmpresa {
    width: 100%;
}

.section-labelDeDadosDaEmpresa {
    width: 100%;

}

.labelCnpj {
    width: 360px;
    margin-right: 40px;
}

.section-inputDadosDaEmpresa {
    width: 100%;
    display: flex;
}

#input-cnpjEmpresa {
    width: 360px;
    margin-right: 40px;
}

#input-emailEmpresa {
    width: 500px;
}

.subtitulo {
    text-align: center;
}

#input-emailModerador{
    width: 100%;
}

.label-senhaModerador{
    width: 360px;
    margin-right: 40px;
}

.section-dadosModerador{
    display: flex;
    width: 100%;
    margin-bottom: 15px;
}

#input-senhaModerador{
    width: 360px;
    margin-right: 40px;
}

#input-confirmacaoSenhaModerador{
    width: 500px;
}